.navbar {
    background-color: #222222;
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .navbar-logo {
    width: 20px;
    height: auto;
    margin-right: 1rem; /* Add some space between the logo and the title */

  }
  
  .navbar-title {
    font-size: 1.2rem;
    color: #fff;
    margin: 0;
  }
  
  .navbar-button {
    font-size: 0.8rem;
    color: #fff;
    background-color: rgb(60, 60, 60);
    border: none;
    border-radius: 2px;
    padding: 10px;
    margin: 0;
    margin-left: 900px;
  }

  .navbar-button:hover {  
    background-color: teal;
  }

  @media (max-width: 768px) {
    .navbar-button {
      display: none;
    }
  }